*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    background-color: #181818;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

#forma {
    border: 5px solid #181818;
    background-color: #181818;
    margin-left: 10%;
    margin-top: 140px;
    padding: 20px 10px 0px 40px;
    width: 80%;
    min-height: 760px;
    border-radius: 5px;
    border-bottom: none;
    box-shadow: 0px 0px 20px 0px #000000;
}

h1{
    color: #bb86fc;
    margin: 40px;
    text-align: center;
    font-size: 32px;
}

h2{
  color: white;
  font-size: 18px;
}

a{
  color: #bb86fc;
  text-decoration: none;
}

a:hover{
  color: #a860ff;
  text-decoration: underline;
}
.topnav{
  height: 50px;
  width: 100%;
  background-color: rgb(31, 31, 31);
}


/* Serve para quando um botao for selecionado nao fique o contorno */
input:focus, button:focus {
    outline: 0;
  }

#area_privada{
  background-color: #00000000;
  color: #bb86fc;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right:300px;
  font-weight: 700;
  font-size: 18px;
}


#btn_registo{
  background-color: #00000000;
  color: #bb86fc;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 90px;
  font-weight: 700;
  font-size: 18px;
}

#btn_login{
  background-color: #00000000;
  color: #bb86fc;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 165px;
  font-weight: 700;
  font-size: 18px;
}

  
  /* Input do login */
  .form-login input[type=text], .form-login input[type=password]{
    width: 90%;
    margin: 0 0 25px 10px;
    border-bottom: 2px solid #bb86fc;

  }
  
  .form-login input[type=text]:focus, .form-login input[type=password]:focus {
    transition: 1.2s;
    width: 90%;
    background-color: rgba(206, 206, 206, 0);
    border-bottom: 2px solid #933bff;
  }

  .form-login input[type=text]:placeholder-shown, .form-login input[type=password]:placeholder-shown{
    width: 80%;
  }


 #adicionar{
   margin-top: 50px;
   margin-left: 20px;
 }


/*Adicionar Tarefa*/

/* Lista das tarefas adicionadas */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: rgba(0, 0, 0, 0.050);
  font-size: 18px;
  transition: 0.2s;
  color: rgba(255, 255, 255, 0.85);
  width: 70%;
  margin-left: 15%;
}

/* Número das listas ímpares */
ul li:nth-child(odd) {
  background: rgba(0, 0, 0, 0.03);
}

ul li.checked {
  background: rgba(255, 255, 255, 0.1);
  color: #bb86fc;
}

ul li:hover {
  background: rgba(0, 0, 0, 0.30);
}

/* Visto */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Botão de eliminar tarefa */
.close {
  color: rgba(255, 0, 38, 0.4);
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: rgba(0, 0, 0, 0.15);
  color: rgb(255, 0, 0);
}


/* "Limpa" a parte de baixo do input da tarefa */
.header:after {
  content: "";
  padding-bottom: 50px;
  display: table;
  clear: both;
}

/* Input da tarefa */
input {
  background-color: #0000;
  color: rgba(255, 255, 255, 0.85);
  border: none;
  border-bottom: 2px solid #bb86fc;
  width: 60%;
  margin-left: 15%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Botão adicionar */
.addBtn {
  padding: 10px;
  width: 10%;
  background: #00000000;
  color: rgba(255, 255, 255, 0.85);
  border-bottom: 2px solid #bb86fc;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  transition: 0.7s;
  border-bottom-color: #bb86fc33;
  color: #bb86fc;
  border-bottom: 2px dashed #bb86fc;
}

/* Botao para alternar light/dark*/
.switch {
  top: 20px;
  left: 200px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #bb86fc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #bb86fc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


