*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    background-color: #181818;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
    overflow: hidden;
}

.form {
    border: 5px solid #181818;
    background-color: #181818;
    margin-top: 90px;
    min-height: 750px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 5px;
    border-bottom: none;
    box-shadow: 0px 0px 20px 0px #000000;
}

h1{
    color: white;
    margin: 40px;
    margin-top: 100px;
    text-align: left;
    font-size: 24px;
}

.topnav {
  background-color: #333;
  height: 50px;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  cursor: pointer;
  background-color: #bb86fca9;
  color: white;
  height: 50px;
}

#btn_registo,#btn_login{
  cursor: pointer;
  float:right ;
  height: 50px;
}


#ajudar{
  font-size: 200%;
  color:#fff;
  margin-left: 10%;
  margin-top: 10%;
}


h2{
  color: #fff;
  font-size: 300%;
  text-align: center;
  margin-top: 5%;
}

.tabela{
  margin-top: 1%;
}

#boneco{
  width: 80%;
  height: 80%; 
  margin-left: 200%;
}


.blocktext{
  color: #fff;
  font-size: 120%;
  margin-left: 40%;
  margin-top: 5%;
  width: 20em;
  line-height: 1.6;
}

.blocktext2{
  color: #fff;
  font-size: 120%;
  margin-top: 2%;
  margin-left: 40%;
  width: 20em;
  line-height: 1.6;
}

.table{
  margin-top: 100px;
}

.titulo{
  text-align: center;
  font-size: 300%;
}

.icone{
  margin-left: 46%;
  height: 10px;
}

.img {
  height: 400px;
  padding-top: 5%;
  padding-left: 300px;
  padding-right: 300px;
}

.frase{
  color: #fff;
  font-size: 140%;
}


/* Serve para quando um botao for selecionado nao fique o contorno */
input:focus, button:focus {
    outline: 0;
}


/* Lista das tarefas adicionadas */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: rgba(0, 0, 0, 0.050);
  font-size: 18px;
  transition: 0.2s;
  color: rgba(255, 255, 255, 0.85);
  width: 70%;
  margin-left: 15%;
}

/* Número das listas ímpares */
ul li:nth-child(odd) {
  background: rgba(0, 0, 0, 0.03);
}

ul li.checked {
  background: rgba(255, 255, 255, 0.1);
  color: #bb86fc;
}

ul li:hover {
  background: rgba(0, 0, 0, 0.30);
}

/* Visto */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Botão de eliminar tarefa */
.close {
  color: rgba(255, 0, 38, 0.4);
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: rgba(0, 0, 0, 0.15);
  color: rgb(255, 0, 0);
}


/* "Limpa" a parte de baixo do input da tarefa */
.header:after {
  content: "";
  padding-bottom: 50px;
  display: table;
  clear: both;
}

/* Input da tarefa */
input {
  background-color: #0000;
  color: rgba(255, 255, 255, 0.85);
  border: none;
  border-bottom: 2px solid #bb86fc;
  width: 60%;
  margin-left: 15%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Botão adicionar */
.addBtn {
  padding: 10px;
  width: 10%;
  background: #00000000;
  color: rgba(255, 255, 255, 0.85);
  border-bottom: 2px solid #bb86fc;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  transition: 0.7s;
  border-bottom-color: #bb86fc33;
  color: #bb86fc;
  border-bottom: 2px dashed #bb86fc;
}

.rowFooter {
  width: 100%;
}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  text-align: center;
  margin-top: 10%;
}






